<a href="https://colab.research.google.com/github/ankit6102001/Python-Machine-learning-Deep-learning/blob/main/creationofdataframe_by_list_dict_exclfile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame([['sonu',20,80],['monu',18,70],['ajay',22,68]])
df

      0   1   2
0  sonu  20  80
1  monu  18  70
2  ajay  22  68

In [ ]:
df=pd.DataFrame([['sonu',20,80],['monu',18,70],['ajay',22,68]],columns=['name','age','marks'])
df

   name  age  marks
0  sonu   20     80
1  monu   18     70
2  ajay   22     68

In [ ]:
df=pd.DataFrame([['sonu',20,80],['monu',18,70],['ajay',22,68]],columns=['name','age','marks'],index=['a','b','c'])
df

   name  age  marks
a  sonu   20     80
b  monu   18     70
c  ajay   22     68

In [ ]:
df=pd.DataFrame({'roll':[10,11,12],'name':['a','b','c']})
df

   roll name
0    10    a
1    11    b
2    12    c

In [ ]:
df=pd.read_excel("d:/test.xlsx",sheet_name='cs')
df

   sonu  20  600
0  monu  18  550
1  ajay  22  450

In [ ]:
df=pd.read_excel("d:/test.xlsx",sheet_name='ec')
df

  Name  Roll  Marks
0    a     1    600
1    b     2    400
2    c     3    500

In [ ]:
df=pd.read_excel("d:/test.xlsx",sheet_name='cs',header=None)
df

      0   1    2
0  sonu  20  600
1  monu  18  550
2  ajay  22  450

In [ ]:
df=pd.read_excel("d:/test.xlsx",sheet_name='cs',header=None,names=['name','age','marks'])
df

   name  age  marks
0  sonu   20    600
1  monu   18    550
2  ajay   22    450

In [ ]:
df=pd.read_excel("d:/test.xlsx",sheet_name='cs',names=['name','age','marks'])
df

   name  age  marks
0  monu   18    550
1  ajay   22    450

In [ ]:
df=pd.read_excel("d:/test.xlsx",sheet_name=0,header=None,names=['name','age','marks'])
df

   name  age  marks
0  sonu   20    600
1  monu   18    550
2  ajay   22    450

In [ ]:
df=pd.read_excel("d:/test.xlsx") #reads first sheet bydefault
df

   sonu  20  600
0  monu  18  550
1  ajay  22  450

In [ ]:
dict_sheets=pd.read_excel("d:/test.xlsx",sheet_name=None)
dict_sheets.keys()

dict_keys(['cs', 'ec'])

In [ ]:
df_cs=dict_sheets['cs']
df_ec=dict_sheets['ec']

In [ ]:
df_cs

   sonu  20  600
0  monu  18  550
1  ajay  22  450

In [ ]:
df_ec

  Name  Roll  Marks
0    a     1    600
1    b     2    400
2    c     3    500

In [ ]:
df=pd.read_excel("d:/dataset/analysis/movies_sheets.xls",sheet_name='1900s')
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,Twin Falls Idaho,1999,Drama,English,USA,R,111,1.85,500000.0,985341.0,...,980,505,482.0,3166,180,0,3479,87,54.0,7.3
1334,Universal Soldier: The Return,1999,Action|Sci-Fi,English,USA,R,83,1.85,24000000.0,10431220.0,...,2000,577,485.0,4024,401,0,24216,162,75.0,4.1
1335,Varsity Blues,1999,Comedy|Drama|Romance|Sport,English,USA,R,106,1.85,16000000.0,52885587.0,...,23000,255,35.0,23369,0,0,35312,267,67.0,6.4
1336,Wild Wild West,1999,Action|Comedy|Sci-Fi|Western,English,USA,PG-13,106,1.85,170000000.0,113745408.0,...,10000,4000,582.0,15870,0,2,129601,648,85.0,4.8
1337,Wing Commander,1999,Action|Adventure|Sci-Fi,English,USA,PG-13,100,2.35,30000000.0,11576087.0,...,811,586,362.0,2497,858,3,14747,338,85.0,4.1

In [ ]:
df=pd.read_excel("d:/dataset/analysis/movies_sheets.xls",sheet_name='1900s',nrows=50)
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71,8.0
5,The Broadway Melody,1929,Musical|Romance,English,USA,Passed,100,1.37,379000.0,2808000.0,...,77,28,4.0,109,167,8,4546,71,36,6.3
6,Hell's Angels,1930,Drama|War,English,USA,Passed,96,1.20,3950000.0,NaN,...,431,12,4.0,457,279,1,3753,53,35,7.8
7,A Farewell to Arms,1932,Drama|Romance|War,English,USA,Unrated,79,1.37,800000.0,NaN,...,998,164,99.0,1284,213,1,3519,46,42,6.6
8,42nd Street,1933,Comedy|Musical|Romance,English,USA,Unrated,89,1.37,439000.0,2300000.0,...,610,105,45.0,995,439,2,7921,97,65,7.7
9,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35,6.5
10,It Happened One Night,1934,Comedy|Romance,English,USA,Unrated,65,1.37,325000.0,NaN,...,380,114,21.0,540,0,1,64888,235,124,8.2
11,Top Hat,1935,Comedy|Musical|Romance,English,USA,Approved,81,1.37,609000.0,3000000.0,...,610,172,23.0,824,1000,2,13269,98,66,7.8
12,Modern Times,1936,Comedy|Drama|Family,English,USA,G,87,1.37,1500000.0,163245.0,...,309,8,8.0,352,0,1,143086,211,120,8.6
13,The Charge of the Light Brigade,1936,Action|Adventure|Romance|War,English,USA,Approved,100,1.37,1200000.0,NaN,...,843,490,94.0,1621,204,3,3418,52,24,7.1
14,Snow White and the Seven Dwarfs,1937,Animation|Family|Fantasy|Musical,English,USA,Approved,83,1.37,2000000.0,184925485.0,...,82,47,31.0,229,0,1,133348,204,145,7.7
15,The Prisoner of Zenda,1937,Adventure|Drama|Romance,English,USA,Approved,101,1.37,NaN,NaN,...,490,185,135.0,1166,337,2,3256,44,7,7.8
16,Alexander's Ragtime Band,1938,Drama|Musical|Romance,English,USA,Approved,106,1.37,2000000.0,NaN,...,480,392,300.0,1833,60,2,1381,29,10,7.0
17,You Can't Take It with You,1938,Comedy|Drama|Romance,English,USA,Approved,126,1.37,1644736.0,NaN,...,319,302,275.0,1363,0,10,17799,133,51,8.0
18,Gone with the Wind,1939,Drama|History|Romance|War,English,USA,G,226,1.37,3977000.0,198655278.0,...,503,384,248.0,1862,16000,1,215340,706,157,8.2
19,Mr. Smith Goes to Washington,1939,Comedy|Drama,English,USA,Not Rated,120,1.37,1500000.0,NaN,...,607,319,248.0,1573,0,7,77392,245,96,8.2
20,The Wizard of Oz,1939,Adventure|Family|Fantasy|Musical,English,USA,Passed,102,1.37,2800000.0,22202612.0,...,695,421,357.0,2509,14000,3,291875,533,213,8.1
21,Boom Town,1940,Adventure|Drama|Romance|Western,English,USA,Passed,119,1.37,1614000.0,NaN,...,1000,760,380.0,2555,236,8,2269,34,12,7.1
22,Fantasia,1940,Animation|Family|Fantasy|Music,English,USA,G,120,1.37,2280000.0,76400000.0,...,16,0,NaN,16,3000,0,71321,230,99,7.8
23,Pinocchio,1940,Animation|Family|Fantasy|Musical,English,USA,Approved,88,1.37,2600000.0,84300000.0,...,1000,48,40.0,1178,0,0,90360,147,105,7.5
24,Rebecca,1940,Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,130,1.37,1288000.0,NaN,...,1000,991,333.0,2888,0,2,87424,276,144,8.2
25,The Blue Bird,1940,Drama|Family|Fantasy,English,USA,Approved,83,1.37,NaN,NaN,...,94,62,51.0,293,548,1,1047,25,7,6.5
26,How Green Was My Valley,1941,Drama|Family,English,USA,Approved,118,1.37,1250000.0,NaN,...,595,176,137.0,1129,0,5,15840,124,74,7.8
27,Bambi,1942,Animation|Drama|Family,English,USA,Approved,70,1.33,NaN,102797150.0,...,16,12,8.0,63,0,0,94225,136,116,7.4
28,Casablanca,1942,Drama|Romance|War,English,USA,PG,82,1.37,950000.0,NaN,...,2000,607,269.0,3442,23000,4,387508,1123,242,8.6
29,A Guy Named Joe,1943,Drama|Fantasy|Romance|War,English,USA,Passed,122,1.37,2627000.0,NaN,...,760,675,315.0,2555,116,0,1553,27,9,7.0
30,Bathing Beauty,1944,Comedy|Musical,English,USA,Passed,101,1.37,2361000.0,NaN,...,675,659,226.0,1627,144,2,1079,28,8,6.5
31,Spellbound,1945,Film-Noir|Mystery|Romance|Thriller,English,USA,Unrated,95,1.37,1696377.0,NaN,...,472,239,82.0,896,0,1,32927,161,97,7.6
32,State Fair,1945,Musical|Romance,English,USA,Approved,100,1.37,NaN,NaN,...,188,135,37.0,496,501,2,2756,55,17,7.1
33,The Lost Weekend,1945,Drama|Film-Noir,English,USA,Not Rated,101,1.37,1250000.0,NaN,...,287,160,66.0,581,0,4,24959,136,97,8.0
34,The Valley of Decision,1945,Drama,English,USA,Passed,119,1.37,2160000.0,NaN,...,509,284,275.0,1490,68,0,1314,29,7,7.5
35,Duel in the Sun,1946,Drama|Romance|Western,English,USA,Unrated,144,1.37,8000000.0,20400000.0,...,469,436,332.0,2037,403,0,6304,87,32,6.9
36,It's a Wonderful Life,1946,Drama|Family|Fantasy|Romance,English,USA,PG,118,1.37,3180000.0,NaN,...,488,275,248.0,1844,41000,0,275720,706,206,8.6
37,The Best Years of Our Lives,1946,Drama|Romance|War,English,USA,Not Rated,172,1.37,2100000.0,23650000.0,...,749,208,188.0,1941,0,5,40359,235,97,8.1
38,Gentleman's Agreement,1947,Drama|Romance,English,USA,Approved,118,1.37,2000000.0,NaN,...,936,297,167.0,1846,0,3,10791,113,61,7.4
39,The Lady from Shanghai,1947,Crime|Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,92,1.37,2300000.0,7927.0,...,1000,29,18.0,1055,0,1,19236,175,90,7.7
40,Tycoon,1947,Adventure|Drama|Romance,English,USA,Approved,95,1.37,3209000.0,NaN,...,197,116,100.0,538,44,1,989,23,9,6.2
41,Open Secret,1948,Crime|Drama,English,USA,Approved,68,1.37,NaN,NaN,...,142,86,75.0,354,10,3,67,9,1,7.1
42,Red River,1948,Action|Adventure|Romance|Western,English,USA,Approved,126,1.37,3000000.0,NaN,...,862,376,281.0,2269,0,0,21316,162,91,7.8
43,The Pirate,1948,Adventure|Comedy|Musical|Romance,English,USA,Approved,102,1.37,3700000.0,2956000.0,...,89,78,48.0,282,359,0,3258,54,41,7.1
44,Sands of Iwo Jima,1949,Action|Drama|Romance|War,English,USA,Approved,109,1.37,1000000.0,NaN,...,183,102,88.0,510,624,0,7346,69,40,7.2
45,She Wore a Yellow Ribbon,1949,Western,English,USA,Unrated,103,1.37,1600000.0,NaN,...,281,230,89.0,955,721,1,11920,90,55,7.4
46,Annie Get Your Gun,1950,Biography|Comedy|Musical|Romance|Western,English,USA,Passed,107,1.37,3768785.0,8000000.0,...,277,244,83.0,731,456,0,3167,90,21,7.0
47,A Streetcar Named Desire,1951,Drama,English,USA,PG,125,1.37,1800000.0,NaN,...,10000,416,114.0,10570,5000,0,78454,233,94,8.0
48,Quo Vadis,1951,Biography|Drama|History|Romance,English,USA,Passed,171,1.37,7623000.0,NaN,...,440,426,346.0,1373,1000,0,9808,90,54,7.2
49,Show Boat,1951,Drama|Family|Musical|Romance,English,USA,Approved,108,1.33,2295429.0,NaN,...,960,715,244.0,2329,438,3,3538,46,14,7.0

In [ ]:
df=pd.read_excel("d:/dataset/analysis/movies_sheets.xls",sheet_name='1900s',nrows=50,skiprows=2,header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1,4.8
1,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48,8.3
2,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260,8.3
3,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71,8.0
4,The Broadway Melody,1929,Musical|Romance,English,USA,Passed,100,1.37,379000.0,2808000.0,...,77,28,4.0,109,167,8,4546,71,36,6.3
5,Hell's Angels,1930,Drama|War,English,USA,Passed,96,1.20,3950000.0,NaN,...,431,12,4.0,457,279,1,3753,53,35,7.8
6,A Farewell to Arms,1932,Drama|Romance|War,English,USA,Unrated,79,1.37,800000.0,NaN,...,998,164,99.0,1284,213,1,3519,46,42,6.6
7,42nd Street,1933,Comedy|Musical|Romance,English,USA,Unrated,89,1.37,439000.0,2300000.0,...,610,105,45.0,995,439,2,7921,97,65,7.7
8,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35,6.5
9,It Happened One Night,1934,Comedy|Romance,English,USA,Unrated,65,1.37,325000.0,NaN,...,380,114,21.0,540,0,1,64888,235,124,8.2
10,Top Hat,1935,Comedy|Musical|Romance,English,USA,Approved,81,1.37,609000.0,3000000.0,...,610,172,23.0,824,1000,2,13269,98,66,7.8
11,Modern Times,1936,Comedy|Drama|Family,English,USA,G,87,1.37,1500000.0,163245.0,...,309,8,8.0,352,0,1,143086,211,120,8.6
12,The Charge of the Light Brigade,1936,Action|Adventure|Romance|War,English,USA,Approved,100,1.37,1200000.0,NaN,...,843,490,94.0,1621,204,3,3418,52,24,7.1
13,Snow White and the Seven Dwarfs,1937,Animation|Family|Fantasy|Musical,English,USA,Approved,83,1.37,2000000.0,184925485.0,...,82,47,31.0,229,0,1,133348,204,145,7.7
14,The Prisoner of Zenda,1937,Adventure|Drama|Romance,English,USA,Approved,101,1.37,NaN,NaN,...,490,185,135.0,1166,337,2,3256,44,7,7.8
15,Alexander's Ragtime Band,1938,Drama|Musical|Romance,English,USA,Approved,106,1.37,2000000.0,NaN,...,480,392,300.0,1833,60,2,1381,29,10,7.0
16,You Can't Take It with You,1938,Comedy|Drama|Romance,English,USA,Approved,126,1.37,1644736.0,NaN,...,319,302,275.0,1363,0,10,17799,133,51,8.0
17,Gone with the Wind,1939,Drama|History|Romance|War,English,USA,G,226,1.37,3977000.0,198655278.0,...,503,384,248.0,1862,16000,1,215340,706,157,8.2
18,Mr. Smith Goes to Washington,1939,Comedy|Drama,English,USA,Not Rated,120,1.37,1500000.0,NaN,...,607,319,248.0,1573,0,7,77392,245,96,8.2
19,The Wizard of Oz,1939,Adventure|Family|Fantasy|Musical,English,USA,Passed,102,1.37,2800000.0,22202612.0,...,695,421,357.0,2509,14000,3,291875,533,213,8.1
20,Boom Town,1940,Adventure|Drama|Romance|Western,English,USA,Passed,119,1.37,1614000.0,NaN,...,1000,760,380.0,2555,236,8,2269,34,12,7.1
21,Fantasia,1940,Animation|Family|Fantasy|Music,English,USA,G,120,1.37,2280000.0,76400000.0,...,16,0,NaN,16,3000,0,71321,230,99,7.8
22,Pinocchio,1940,Animation|Family|Fantasy|Musical,English,USA,Approved,88,1.37,2600000.0,84300000.0,...,1000,48,40.0,1178,0,0,90360,147,105,7.5
23,Rebecca,1940,Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,130,1.37,1288000.0,NaN,...,1000,991,333.0,2888,0,2,87424,276,144,8.2
24,The Blue Bird,1940,Drama|Family|Fantasy,English,USA,Approved,83,1.37,NaN,NaN,...,94,62,51.0,293,548,1,1047,25,7,6.5
25,How Green Was My Valley,1941,Drama|Family,English,USA,Approved,118,1.37,1250000.0,NaN,...,595,176,137.0,1129,0,5,15840,124,74,7.8
26,Bambi,1942,Animation|Drama|Family,English,USA,Approved,70,1.33,NaN,102797150.0,...,16,12,8.0,63,0,0,94225,136,116,7.4
27,Casablanca,1942,Drama|Romance|War,English,USA,PG,82,1.37,950000.0,NaN,...,2000,607,269.0,3442,23000,4,387508,1123,242,8.6
28,A Guy Named Joe,1943,Drama|Fantasy|Romance|War,English,USA,Passed,122,1.37,2627000.0,NaN,...,760,675,315.0,2555,116,0,1553,27,9,7.0
29,Bathing Beauty,1944,Comedy|Musical,English,USA,Passed,101,1.37,2361000.0,NaN,...,675,659,226.0,1627,144,2,1079,28,8,6.5
30,Spellbound,1945,Film-Noir|Mystery|Romance|Thriller,English,USA,Unrated,95,1.37,1696377.0,NaN,...,472,239,82.0,896,0,1,32927,161,97,7.6
31,State Fair,1945,Musical|Romance,English,USA,Approved,100,1.37,NaN,NaN,...,188,135,37.0,496,501,2,2756,55,17,7.1
32,The Lost Weekend,1945,Drama|Film-Noir,English,USA,Not Rated,101,1.37,1250000.0,NaN,...,287,160,66.0,581,0,4,24959,136,97,8.0
33,The Valley of Decision,1945,Drama,English,USA,Passed,119,1.37,2160000.0,NaN,...,509,284,275.0,1490,68,0,1314,29,7,7.5
34,Duel in the Sun,1946,Drama|Romance|Western,English,USA,Unrated,144,1.37,8000000.0,20400000.0,...,469,436,332.0,2037,403,0,6304,87,32,6.9
35,It's a Wonderful Life,1946,Drama|Family|Fantasy|Romance,English,USA,PG,118,1.37,3180000.0,NaN,...,488,275,248.0,1844,41000,0,275720,706,206,8.6
36,The Best Years of Our Lives,1946,Drama|Romance|War,English,USA,Not Rated,172,1.37,2100000.0,23650000.0,...,749,208,188.0,1941,0,5,40359,235,97,8.1
37,Gentleman's Agreement,1947,Drama|Romance,English,USA,Approved,118,1.37,2000000.0,NaN,...,936,297,167.0,1846,0,3,10791,113,61,7.4
38,The Lady from Shanghai,1947,Crime|Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,92,1.37,2300000.0,7927.0,...,1000,29,18.0,1055,0,1,19236,175,90,7.7
39,Tycoon,1947,Adventure|Drama|Romance,English,USA,Approved,95,1.37,3209000.0,NaN,...,197,116,100.0,538,44,1,989,23,9,6.2
40,Open Secret,1948,Crime|Drama,English,USA,Approved,68,1.37,NaN,NaN,...,142,86,75.0,354,10,3,67,9,1,7.1
41,Red River,1948,Action|Adventure|Romance|Western,English,USA,Approved,126,1.37,3000000.0,NaN,...,862,376,281.0,2269,0,0,21316,162,91,7.8
42,The Pirate,1948,Adventure|Comedy|Musical|Romance,English,USA,Approved,102,1.37,3700000.0,2956000.0,...,89,78,48.0,282,359,0,3258,54,41,7.1
43,Sands of Iwo Jima,1949,Action|Drama|Romance|War,English,USA,Approved,109,1.37,1000000.0,NaN,...,183,102,88.0,510,624,0,7346,69,40,7.2
44,She Wore a Yellow Ribbon,1949,Western,English,USA,Unrated,103,1.37,1600000.0,NaN,...,281,230,89.0,955,721,1,11920,90,55,7.4
45,Annie Get Your Gun,1950,Biography|Comedy|Musical|Romance|Western,English,USA,Passed,107,1.37,3768785.0,8000000.0,...,277,244,83.0,731,456,0,3167,90,21,7.0
46,A Streetcar Named Desire,1951,Drama,English,USA,PG,125,1.37,1800000.0,NaN,...,10000,416,114.0,10570,5000,0,78454,233,94,8.0
47,Quo Vadis,1951,Biography|Drama|History|Romance,English,USA,Passed,171,1.37,7623000.0,NaN,...,440,426,346.0,1373,1000,0,9808,90,54,7.2
48,Show Boat,1951,Drama|Family|Musical|Romance,English,USA,Approved,108,1.33,2295429.0,NaN,...,960,715,244.0,2329,438,3,3538,46,14,7.0
49,Deadline - U.S.A.,1952,Crime|Drama|Film-Noir,English,USA,NaN,87,1.37,NaN,NaN,...,2000,399,114.0,2831,169,0,1756,28,27,7.2

In [ ]:
df=pd.read_excel("d:/dataset/analysis/movies_sheets.xls",sheet_name='1900s',nrows=50,skiprows=[1,2])
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48,8.3
1,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260,8.3
2,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71,8.0
3,The Broadway Melody,1929,Musical|Romance,English,USA,Passed,100,1.37,379000.0,2808000.0,...,77,28,4.0,109,167,8,4546,71,36,6.3
4,Hell's Angels,1930,Drama|War,English,USA,Passed,96,1.20,3950000.0,NaN,...,431,12,4.0,457,279,1,3753,53,35,7.8
5,A Farewell to Arms,1932,Drama|Romance|War,English,USA,Unrated,79,1.37,800000.0,NaN,...,998,164,99.0,1284,213,1,3519,46,42,6.6
6,42nd Street,1933,Comedy|Musical|Romance,English,USA,Unrated,89,1.37,439000.0,2300000.0,...,610,105,45.0,995,439,2,7921,97,65,7.7
7,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35,6.5
8,It Happened One Night,1934,Comedy|Romance,English,USA,Unrated,65,1.37,325000.0,NaN,...,380,114,21.0,540,0,1,64888,235,124,8.2
9,Top Hat,1935,Comedy|Musical|Romance,English,USA,Approved,81,1.37,609000.0,3000000.0,...,610,172,23.0,824,1000,2,13269,98,66,7.8
10,Modern Times,1936,Comedy|Drama|Family,English,USA,G,87,1.37,1500000.0,163245.0,...,309,8,8.0,352,0,1,143086,211,120,8.6
11,The Charge of the Light Brigade,1936,Action|Adventure|Romance|War,English,USA,Approved,100,1.37,1200000.0,NaN,...,843,490,94.0,1621,204,3,3418,52,24,7.1
12,Snow White and the Seven Dwarfs,1937,Animation|Family|Fantasy|Musical,English,USA,Approved,83,1.37,2000000.0,184925485.0,...,82,47,31.0,229,0,1,133348,204,145,7.7
13,The Prisoner of Zenda,1937,Adventure|Drama|Romance,English,USA,Approved,101,1.37,NaN,NaN,...,490,185,135.0,1166,337,2,3256,44,7,7.8
14,Alexander's Ragtime Band,1938,Drama|Musical|Romance,English,USA,Approved,106,1.37,2000000.0,NaN,...,480,392,300.0,1833,60,2,1381,29,10,7.0
15,You Can't Take It with You,1938,Comedy|Drama|Romance,English,USA,Approved,126,1.37,1644736.0,NaN,...,319,302,275.0,1363,0,10,17799,133,51,8.0
16,Gone with the Wind,1939,Drama|History|Romance|War,English,USA,G,226,1.37,3977000.0,198655278.0,...,503,384,248.0,1862,16000,1,215340,706,157,8.2
17,Mr. Smith Goes to Washington,1939,Comedy|Drama,English,USA,Not Rated,120,1.37,1500000.0,NaN,...,607,319,248.0,1573,0,7,77392,245,96,8.2
18,The Wizard of Oz,1939,Adventure|Family|Fantasy|Musical,English,USA,Passed,102,1.37,2800000.0,22202612.0,...,695,421,357.0,2509,14000,3,291875,533,213,8.1
19,Boom Town,1940,Adventure|Drama|Romance|Western,English,USA,Passed,119,1.37,1614000.0,NaN,...,1000,760,380.0,2555,236,8,2269,34,12,7.1
20,Fantasia,1940,Animation|Family|Fantasy|Music,English,USA,G,120,1.37,2280000.0,76400000.0,...,16,0,NaN,16,3000,0,71321,230,99,7.8
21,Pinocchio,1940,Animation|Family|Fantasy|Musical,English,USA,Approved,88,1.37,2600000.0,84300000.0,...,1000,48,40.0,1178,0,0,90360,147,105,7.5
22,Rebecca,1940,Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,130,1.37,1288000.0,NaN,...,1000,991,333.0,2888,0,2,87424,276,144,8.2
23,The Blue Bird,1940,Drama|Family|Fantasy,English,USA,Approved,83,1.37,NaN,NaN,...,94,62,51.0,293,548,1,1047,25,7,6.5
24,How Green Was My Valley,1941,Drama|Family,English,USA,Approved,118,1.37,1250000.0,NaN,...,595,176,137.0,1129,0,5,15840,124,74,7.8
25,Bambi,1942,Animation|Drama|Family,English,USA,Approved,70,1.33,NaN,102797150.0,...,16,12,8.0,63,0,0,94225,136,116,7.4
26,Casablanca,1942,Drama|Romance|War,English,USA,PG,82,1.37,950000.0,NaN,...,2000,607,269.0,3442,23000,4,387508,1123,242,8.6
27,A Guy Named Joe,1943,Drama|Fantasy|Romance|War,English,USA,Passed,122,1.37,2627000.0,NaN,...,760,675,315.0,2555,116,0,1553,27,9,7.0
28,Bathing Beauty,1944,Comedy|Musical,English,USA,Passed,101,1.37,2361000.0,NaN,...,675,659,226.0,1627,144,2,1079,28,8,6.5
29,Spellbound,1945,Film-Noir|Mystery|Romance|Thriller,English,USA,Unrated,95,1.37,1696377.0,NaN,...,472,239,82.0,896,0,1,32927,161,97,7.6
30,State Fair,1945,Musical|Romance,English,USA,Approved,100,1.37,NaN,NaN,...,188,135,37.0,496,501,2,2756,55,17,7.1
31,The Lost Weekend,1945,Drama|Film-Noir,English,USA,Not Rated,101,1.37,1250000.0,NaN,...,287,160,66.0,581,0,4,24959,136,97,8.0
32,The Valley of Decision,1945,Drama,English,USA,Passed,119,1.37,2160000.0,NaN,...,509,284,275.0,1490,68,0,1314,29,7,7.5
33,Duel in the Sun,1946,Drama|Romance|Western,English,USA,Unrated,144,1.37,8000000.0,20400000.0,...,469,436,332.0,2037,403,0,6304,87,32,6.9
34,It's a Wonderful Life,1946,Drama|Family|Fantasy|Romance,English,USA,PG,118,1.37,3180000.0,NaN,...,488,275,248.0,1844,41000,0,275720,706,206,8.6
35,The Best Years of Our Lives,1946,Drama|Romance|War,English,USA,Not Rated,172,1.37,2100000.0,23650000.0,...,749,208,188.0,1941,0,5,40359,235,97,8.1
36,Gentleman's Agreement,1947,Drama|Romance,English,USA,Approved,118,1.37,2000000.0,NaN,...,936,297,167.0,1846,0,3,10791,113,61,7.4
37,The Lady from Shanghai,1947,Crime|Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,92,1.37,2300000.0,7927.0,...,1000,29,18.0,1055,0,1,19236,175,90,7.7
38,Tycoon,1947,Adventure|Drama|Romance,English,USA,Approved,95,1.37,3209000.0,NaN,...,197,116,100.0,538,44,1,989,23,9,6.2
39,Open Secret,1948,Crime|Drama,English,USA,Approved,68,1.37,NaN,NaN,...,142,86,75.0,354,10,3,67,9,1,7.1
40,Red River,1948,Action|Adventure|Romance|Western,English,USA,Approved,126,1.37,3000000.0,NaN,...,862,376,281.0,2269,0,0,21316,162,91,7.8
41,The Pirate,1948,Adventure|Comedy|Musical|Romance,English,USA,Approved,102,1.37,3700000.0,2956000.0,...,89,78,48.0,282,359,0,3258,54,41,7.1
42,Sands of Iwo Jima,1949,Action|Drama|Romance|War,English,USA,Approved,109,1.37,1000000.0,NaN,...,183,102,88.0,510,624,0,7346,69,40,7.2
43,She Wore a Yellow Ribbon,1949,Western,English,USA,Unrated,103,1.37,1600000.0,NaN,...,281,230,89.0,955,721,1,11920,90,55,7.4
44,Annie Get Your Gun,1950,Biography|Comedy|Musical|Romance|Western,English,USA,Passed,107,1.37,3768785.0,8000000.0,...,277,244,83.0,731,456,0,3167,90,21,7.0
45,A Streetcar Named Desire,1951,Drama,English,USA,PG,125,1.37,1800000.0,NaN,...,10000,416,114.0,10570,5000,0,78454,233,94,8.0
46,Quo Vadis,1951,Biography|Drama|History|Romance,English,USA,Passed,171,1.37,7623000.0,NaN,...,440,426,346.0,1373,1000,0,9808,90,54,7.2
47,Show Boat,1951,Drama|Family|Musical|Romance,English,USA,Approved,108,1.33,2295429.0,NaN,...,960,715,244.0,2329,438,3,3538,46,14,7.0
48,Deadline - U.S.A.,1952,Crime|Drama|Film-Noir,English,USA,NaN,87,1.37,NaN,NaN,...,2000,399,114.0,2831,169,0,1756,28,27,7.2
49,High Noon,1952,Thriller|Western,English,USA,PG,85,1.37,750000.0,NaN,...,998,575,433.0,2496,3000,0,80193,333,153,8.1

In [ ]:
df=pd.read_excel("d:/dataset/analysis/movies_sheets.xls",sheet_name='1900s',nrows=50,skiprows=range(1,10))
df

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35,6.5
1,It Happened One Night,1934,Comedy|Romance,English,USA,Unrated,65,1.37,325000.0,NaN,...,380,114,21.0,540,0,1,64888,235,124,8.2
2,Top Hat,1935,Comedy|Musical|Romance,English,USA,Approved,81,1.37,609000.0,3000000.0,...,610,172,23.0,824,1000,2,13269,98,66,7.8
3,Modern Times,1936,Comedy|Drama|Family,English,USA,G,87,1.37,1500000.0,163245.0,...,309,8,8.0,352,0,1,143086,211,120,8.6
4,The Charge of the Light Brigade,1936,Action|Adventure|Romance|War,English,USA,Approved,100,1.37,1200000.0,NaN,...,843,490,94.0,1621,204,3,3418,52,24,7.1
5,Snow White and the Seven Dwarfs,1937,Animation|Family|Fantasy|Musical,English,USA,Approved,83,1.37,2000000.0,184925485.0,...,82,47,31.0,229,0,1,133348,204,145,7.7
6,The Prisoner of Zenda,1937,Adventure|Drama|Romance,English,USA,Approved,101,1.37,NaN,NaN,...,490,185,135.0,1166,337,2,3256,44,7,7.8
7,Alexander's Ragtime Band,1938,Drama|Musical|Romance,English,USA,Approved,106,1.37,2000000.0,NaN,...,480,392,300.0,1833,60,2,1381,29,10,7.0
8,You Can't Take It with You,1938,Comedy|Drama|Romance,English,USA,Approved,126,1.37,1644736.0,NaN,...,319,302,275.0,1363,0,10,17799,133,51,8.0
9,Gone with the Wind,1939,Drama|History|Romance|War,English,USA,G,226,1.37,3977000.0,198655278.0,...,503,384,248.0,1862,16000,1,215340,706,157,8.2
10,Mr. Smith Goes to Washington,1939,Comedy|Drama,English,USA,Not Rated,120,1.37,1500000.0,NaN,...,607,319,248.0,1573,0,7,77392,245,96,8.2
11,The Wizard of Oz,1939,Adventure|Family|Fantasy|Musical,English,USA,Passed,102,1.37,2800000.0,22202612.0,...,695,421,357.0,2509,14000,3,291875,533,213,8.1
12,Boom Town,1940,Adventure|Drama|Romance|Western,English,USA,Passed,119,1.37,1614000.0,NaN,...,1000,760,380.0,2555,236,8,2269,34,12,7.1
13,Fantasia,1940,Animation|Family|Fantasy|Music,English,USA,G,120,1.37,2280000.0,76400000.0,...,16,0,NaN,16,3000,0,71321,230,99,7.8
14,Pinocchio,1940,Animation|Family|Fantasy|Musical,English,USA,Approved,88,1.37,2600000.0,84300000.0,...,1000,48,40.0,1178,0,0,90360,147,105,7.5
15,Rebecca,1940,Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,130,1.37,1288000.0,NaN,...,1000,991,333.0,2888,0,2,87424,276,144,8.2
16,The Blue Bird,1940,Drama|Family|Fantasy,English,USA,Approved,83,1.37,NaN,NaN,...,94,62,51.0,293,548,1,1047,25,7,6.5
17,How Green Was My Valley,1941,Drama|Family,English,USA,Approved,118,1.37,1250000.0,NaN,...,595,176,137.0,1129,0,5,15840,124,74,7.8
18,Bambi,1942,Animation|Drama|Family,English,USA,Approved,70,1.33,NaN,102797150.0,...,16,12,8.0,63,0,0,94225,136,116,7.4
19,Casablanca,1942,Drama|Romance|War,English,USA,PG,82,1.37,950000.0,NaN,...,2000,607,269.0,3442,23000,4,387508,1123,242,8.6
20,A Guy Named Joe,1943,Drama|Fantasy|Romance|War,English,USA,Passed,122,1.37,2627000.0,NaN,...,760,675,315.0,2555,116,0,1553,27,9,7.0
21,Bathing Beauty,1944,Comedy|Musical,English,USA,Passed,101,1.37,2361000.0,NaN,...,675,659,226.0,1627,144,2,1079,28,8,6.5
22,Spellbound,1945,Film-Noir|Mystery|Romance|Thriller,English,USA,Unrated,95,1.37,1696377.0,NaN,...,472,239,82.0,896,0,1,32927,161,97,7.6
23,State Fair,1945,Musical|Romance,English,USA,Approved,100,1.37,NaN,NaN,...,188,135,37.0,496,501,2,2756,55,17,7.1
24,The Lost Weekend,1945,Drama|Film-Noir,English,USA,Not Rated,101,1.37,1250000.0,NaN,...,287,160,66.0,581,0,4,24959,136,97,8.0
25,The Valley of Decision,1945,Drama,English,USA,Passed,119,1.37,2160000.0,NaN,...,509,284,275.0,1490,68,0,1314,29,7,7.5
26,Duel in the Sun,1946,Drama|Romance|Western,English,USA,Unrated,144,1.37,8000000.0,20400000.0,...,469,436,332.0,2037,403,0,6304,87,32,6.9
27,It's a Wonderful Life,1946,Drama|Family|Fantasy|Romance,English,USA,PG,118,1.37,3180000.0,NaN,...,488,275,248.0,1844,41000,0,275720,706,206,8.6
28,The Best Years of Our Lives,1946,Drama|Romance|War,English,USA,Not Rated,172,1.37,2100000.0,23650000.0,...,749,208,188.0,1941,0,5,40359,235,97,8.1
29,Gentleman's Agreement,1947,Drama|Romance,English,USA,Approved,118,1.37,2000000.0,NaN,...,936,297,167.0,1846,0,3,10791,113,61,7.4
30,The Lady from Shanghai,1947,Crime|Drama|Film-Noir|Mystery|Thriller,English,USA,Not Rated,92,1.37,2300000.0,7927.0,...,1000,29,18.0,1055,0,1,19236,175,90,7.7
31,Tycoon,1947,Adventure|Drama|Romance,English,USA,Approved,95,1.37,3209000.0,NaN,...,197,116,100.0,538,44,1,989,23,9,6.2
32,Open Secret,1948,Crime|Drama,English,USA,Approved,68,1.37,NaN,NaN,...,142,86,75.0,354,10,3,67,9,1,7.1
33,Red River,1948,Action|Adventure|Romance|Western,English,USA,Approved,126,1.37,3000000.0,NaN,...,862,376,281.0,2269,0,0,21316,162,91,7.8
34,The Pirate,1948,Adventure|Comedy|Musical|Romance,English,USA,Approved,102,1.37,3700000.0,2956000.0,...,89,78,48.0,282,359,0,3258,54,41,7.1
35,Sands of Iwo Jima,1949,Action|Drama|Romance|War,English,USA,Approved,109,1.37,1000000.0,NaN,...,183,102,88.0,510,624,0,7346,69,40,7.2
36,She Wore a Yellow Ribbon,1949,Western,English,USA,Unrated,103,1.37,1600000.0,NaN,...,281,230,89.0,955,721,1,11920,90,55,7.4
37,Annie Get Your Gun,1950,Biography|Comedy|Musical|Romance|Western,English,USA,Passed,107,1.37,3768785.0,8000000.0,...,277,244,83.0,731,456,0,3167,90,21,7.0
38,A Streetcar Named Desire,1951,Drama,English,USA,PG,125,1.37,1800000.0,NaN,...,10000,416,114.0,10570,5000,0,78454,233,94,8.0
39,Quo Vadis,1951,Biography|Drama|History|Romance,English,USA,Passed,171,1.37,7623000.0,NaN,...,440,426,346.0,1373,1000,0,9808,90,54,7.2
40,Show Boat,1951,Drama|Family|Musical|Romance,English,USA,Approved,108,1.33,2295429.0,NaN,...,960,715,244.0,2329,438,3,3538,46,14,7.0
41,Deadline - U.S.A.,1952,Crime|Drama|Film-Noir,English,USA,NaN,87,1.37,NaN,NaN,...,2000,399,114.0,2831,169,0,1756,28,27,7.2
42,High Noon,1952,Thriller|Western,English,USA,PG,85,1.37,750000.0,NaN,...,998,575,433.0,2496,3000,0,80193,333,153,8.1
43,Singin' in the Rain,1952,Comedy|Musical|Romance,English,USA,Approved,103,1.37,2540800.0,NaN,...,804,786,390.0,2510,0,0,150020,568,169,8.3
44,The Greatest Show on Earth,1952,Drama|Family|Romance,English,USA,Not Rated,152,1.37,4000000.0,36000000.0,...,232,178,132.0,825,625,0,9456,107,44,6.7
45,From Here to Eternity,1953,Drama|Romance|War,English,USA,Not Rated,118,1.37,1650000.0,NaN,...,862,488,426.0,2247,0,5,33987,150,101,7.8
46,Niagara,1953,Crime|Film-Noir|Thriller,English,USA,Approved,92,1.37,1250000.0,NaN,...,469,79,48.0,683,1000,0,11047,116,74,7.1
47,"The Beast from 20,000 Fathoms",1953,Adventure|Horror|Sci-Fi,English,USA,Approved,80,1.37,210000.0,5000000.0,...,57,40,21.0,205,465,0,4812,88,67,6.7
48,The Robe,1953,Drama|History,English,USA,Unrated,135,2.20,5000000.0,36000000.0,...,726,422,275.0,1920,0,1,6359,69,42,6.8
49,"20,000 Leagues Under the Sea",1954,Adventure|Drama|Family|Fantasy|Sci-Fi,English,USA,Approved,127,1.37,5000000.0,NaN,...,617,53,51.0,799,0,0,22123,108,69,7.2

In [ ]:
df.head(3)

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35,6.5
1,It Happened One Night,1934,Comedy|Romance,English,USA,Unrated,65,1.37,325000.0,NaN,...,380,114,21.0,540,0,1,64888,235,124,8.2
2,Top Hat,1935,Comedy|Musical|Romance,English,USA,Approved,81,1.37,609000.0,3000000.0,...,610,172,23.0,824,1000,2,13269,98,66,7.8

In [ ]:
df.head()

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,She Done Him Wrong,1933,Comedy|Drama|History|Musical|Romance,English,USA,Approved,66,1.37,200000.0,NaN,...,418,85,28.0,583,328,1,4152,59,35,6.5
1,It Happened One Night,1934,Comedy|Romance,English,USA,Unrated,65,1.37,325000.0,NaN,...,380,114,21.0,540,0,1,64888,235,124,8.2
2,Top Hat,1935,Comedy|Musical|Romance,English,USA,Approved,81,1.37,609000.0,3000000.0,...,610,172,23.0,824,1000,2,13269,98,66,7.8
3,Modern Times,1936,Comedy|Drama|Family,English,USA,G,87,1.37,1500000.0,163245.0,...,309,8,8.0,352,0,1,143086,211,120,8.6
4,The Charge of the Light Brigade,1936,Action|Adventure|Romance|War,English,USA,Approved,100,1.37,1200000.0,NaN,...,843,490,94.0,1621,204,3,3418,52,24,7.1

In [ ]:
df.tail(3)

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
47,"The Beast from 20,000 Fathoms",1953,Adventure|Horror|Sci-Fi,English,USA,Approved,80,1.37,210000.0,5000000.0,...,57,40,21.0,205,465,0,4812,88,67,6.7
48,The Robe,1953,Drama|History,English,USA,Unrated,135,2.20,5000000.0,36000000.0,...,726,422,275.0,1920,0,1,6359,69,42,6.8
49,"20,000 Leagues Under the Sea",1954,Adventure|Drama|Family|Fantasy|Sci-Fi,English,USA,Approved,127,1.37,5000000.0,NaN,...,617,53,51.0,799,0,0,22123,108,69,7.2

In [ ]:
df.tail()

,Title,Year,Category,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
45,From Here to Eternity,1953,Drama|Romance|War,English,USA,Not Rated,118,1.37,1650000.0,NaN,...,862,488,426.0,2247,0,5,33987,150,101,7.8
46,Niagara,1953,Crime|Film-Noir|Thriller,English,USA,Approved,92,1.37,1250000.0,NaN,...,469,79,48.0,683,1000,0,11047,116,74,7.1
47,"The Beast from 20,000 Fathoms",1953,Adventure|Horror|Sci-Fi,English,USA,Approved,80,1.37,210000.0,5000000.0,...,57,40,21.0,205,465,0,4812,88,67,6.7
48,The Robe,1953,Drama|History,English,USA,Unrated,135,2.20,5000000.0,36000000.0,...,726,422,275.0,1920,0,1,6359,69,42,6.8
49,"20,000 Leagues Under the Sea",1954,Adventure|Drama|Family|Fantasy|Sci-Fi,English,USA,Approved,127,1.37,5000000.0,NaN,...,617,53,51.0,799,0,0,22123,108,69,7.2

In [ ]:
df[['Year','Title']]

    Year                             Title
0   1933               She Done Him Wrong
1   1934            It Happened One Night
2   1935                          Top Hat
3   1936                     Modern Times
4   1936  The Charge of the Light Brigade
5   1937  Snow White and the Seven Dwarfs
6   1937            The Prisoner of Zenda
7   1938         Alexander's Ragtime Band
8   1938       You Can't Take It with You
9   1939               Gone with the Wind
10  1939     Mr. Smith Goes to Washington
11  1939                 The Wizard of Oz
12  1940                        Boom Town
13  1940                         Fantasia
14  1940                        Pinocchio
15  1940                          Rebecca
16  1940                    The Blue Bird
17  1941          How Green Was My Valley
18  1942                            Bambi
19  1942                       Casablanca
20  1943                  A Guy Named Joe
21  1944                   Bathing Beauty
22  1945                       Spellbound
23  1945                       State Fair
24  1945                 The Lost Weekend
25  1945           The Valley of Decision
26  1946                  Duel in the Sun
27  1946            It's a Wonderful Life
28  1946      The Best Years of Our Lives
29  1947            Gentleman's Agreement
30  1947           The Lady from Shanghai
31  1947                           Tycoon
32  1948                      Open Secret
33  1948                        Red River
34  1948                       The Pirate
35  1949                Sands of Iwo Jima
36  1949         She Wore a Yellow Ribbon
37  1950               Annie Get Your Gun
38  1951         A Streetcar Named Desire
39  1951                        Quo Vadis
40  1951                        Show Boat
41  1952                Deadline - U.S.A.
42  1952                        High Noon
43  1952              Singin' in the Rain
44  1952       The Greatest Show on Earth
45  1953            From Here to Eternity
46  1953                          Niagara
47  1953    The Beast from 20,000 Fathoms
48  1953                         The Robe
49  1954     20,000 Leagues Under the Sea